<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <title>S+</title>
    {% block head %}
    {% endblock %}
    <a href="/create" role="button"><font size="4">新規作成画面</font></a>
    <a href="/logout" role="button"><font size="4">ログアウト</font></a></p>
</head>
<body>
<h1>S+</h1>
{% block content %}{% endblock %}
<ul>
    <li>
        <a href="/" role="button"><font size="4">ホーム</font></a>
    </li>
    <li>
        <a href="/graph" role="button"><font size="4">グラフ１</font></a>
    </li>
    <li>
        <a href="/graph3" role="button"><font size="4">グラフ3</font></a>
    </li>
    <li>
        <a href="/graph4" role="button"><font size="4">グラフ4</font></a>
    </li>
    <li>
        <a href="/graph5" role="button"><font size="4">グラフ5</font></a>
    </li>
    <li>
        <a href="/graph6" role="button"><font size="4">グラフ6</font></a>
    </li>
    <li>
        <a href="/graph7" role="button"><font size="4">グラフ7</font></a>
    </li>
    <li>
        <a href="/graph8" role="button"><font size="4">グラフ8</font></a>
    </li>
    <li>
        <a href="/graph9" role="button"><font size="4">グラフ9</font></a>
    </li>
    <li>
        <a href="/graph10" role="button"><font size="4">グラフ10</font></a>
    </li>
</ul>
</body>
</html>

