<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>XBRL DB</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
<div class="container mt-5">
  <h1 class="display-4">経済指標表示サービス</h1>
        <p class="lead">FREDAPIを使って経済指標を表示するサービス</p>
        <hr class="my-4">
        <p>無料で提供します</p>

     <form action="fredapi" method="post" enctype="multipart/form-data" class="row g-3">
        <div class="col-auto">
        <select name="name" class="form-control">
            <option value="GDP">GDP</option>
            <option value="cpi">インフレ率</option>
            <option value="interest_rate">金利</option>
            <option value="nikkei">日経平均</option>

        </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">グラフ表示</button>
        </div>
    </form>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">contact</a>
        </li>
    </ul>

<div id="myDiv"><!-- ここにグラフを表示する --></div>

<script>
    var trace1 = {
        x:[{% for item in timelists %}　
       '{{item}}',
        {% endfor %}],

        y:[{% for item in lists %}　
       {{item}},
        {% endfor %}],

        type: 'scatter',
    };

    var data = [trace1];

     var selectorOptions = {
    buttons: [{
        step: 'month',
        stepmode: 'backward',
        count: 1,
        label: '1m'
    }, {
        step: 'month',
        stepmode: 'backward',
        count: 6,
        label: '6m'
    }, {
        step: 'year',
        stepmode: 'todate',
        count: 1,
        label: 'YTD'
    }, {
        step: 'year',
        stepmode: 'backward',
        count: 1,
        label: '1y'
    }, {
        step: 'all',
    }],
};

    var layout = {
     xaxis: {
            rangeselector: selectorOptions,
            rangeslider: {}
        },
        yaxis: {
            fixedrange: true
        }
    };
    Plotly.newPlot('myDiv', data, layout);

</script>
<p>ようやくFredで取得した値を表示することに成功！</p>
<p>pythonからJavascriptへの変数の受け渡しに苦労した。</p>
    <h3>{{ message }}</h3>


</div>
</body>
