{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}

<div id="myDiv"><!-- ここにグラフを表示する --></div>
<script>

var data = [
  {
    <!--x:['1967-12-01 00:00:00', '1968-01-01 00:00:00', '1968-02-01 00:00:00'],-->
    <!--y:[1, 2, 10],-->

    <!--x:['1967-12-01 00:00:00', '1968-01-01 00:00:00', '1968-02-01 00:00:00'],-->
    <!--y:[3.383497007, 3.659987292, 3.682012499],-->

    <!--x:['1967-12-01 00:00:00', '1968-01-01 00:00:00', '1968-02-01 00:00:00'],-->

    <!--x:{{timelists}},-->

    x:[{% for item in timelists %}　
       {{item}},
        {% endfor %}],

    y:[{% for item in cpilists %}　
       {{item}},
        {% endfor %}],

    type: 'scatter'

  }
];

Plotly.newPlot('myDiv', data);

</script>
<p>cpi.index:{{timelists}}</p>
<p>cpi:{{cpilists}}</p>

{% endblock %}