{% extends "base.html" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
{% endblock %}

{% block content %}
<script>
      window.onload = function () {
        let context = document.querySelector("#japanese_people_chart").getContext('2d')
        new Chart(context, {
          type: 'bar',
          data: {
            labels: ['2015年', '2016年', '2017年', '2018年', '2019年', '2022年'],
            datasets: [{
              label: "日本の人口推移",
              data: [127094745, 127041812, 126918546, 126748506, 126555078, 126146099],
            }],
          },
          options: {
            responsive: false
          }
        })
      }
</script>
<canvas id="japanese_people_chart" width="500" height="500"></canvas>
<p>とりあえず棒グラフはうまくいった。<br>
    棒グラフに色をつけられていない。<br>
    ただし、base.htmlを利用できていない。<br>
    また、scatterグラフにできていないので、継続検討が必要 <br>
</p>
{% endblock %}
