{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8" />
    <title>bar chart</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1"></script>
    <script>
      window.onload = function () {
        let context = document.querySelector("#japanese_people_chart").getContext('2d')
        new Chart(context, {

          type: 'scatter',

          data: {

            datasets: [{
              label: "散布図",
              backgroundColor: ['#4169e1'],   <!--色を指定-->

              <!--data: [{x:1,y:10},{x:2,y:20},{x:3,y:20}]-->

              <!--data: [{'x':1,'y':10},{'x':2,'y':20},{'x':3,'y':30}]-->

              <!--data: [{'x': 1, 'y': 10}, {'x': 2, 'y': 20}, {'x': 3, 'y': 30}]-->

                  data:[{% for item in lists %}　
                       "{{item}}",
                       {% endfor %}],
            }],
          },

          options: {
            responsive: false
          }
        })
      }
    </script>
{% endblock %}

{% block body %}
<h1>Graph5 散布図の表示</h1>
    <canvas id="japanese_people_chart" width="500" height="500"></canvas>

<p>グラフ表示のテストchart.jsを使う</p>
<p>pythonからhtmlに変数を渡して、html内でループ処理をしてデータを生成</p>
<p>グラフの種類:{{title}}</p>
<p>data:{{lists}}</p>
<p>data:"{{lists}}"</p>

{% endblock %}