{% extends "base.html" %}

{% block head %}
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}

{% block content %}
<div id="myDiv"><!-- ここにグラフを表示する --></div>
<script>

  var trace1 = {
  x: {{timelists}},
  y: {{cpilists}},
  mode: 'lines+markers',
  type: 'scatter'
};

var data = [trace1];

var layout = {
  hovermode:'closest',
  autosize: false,
  width:1500,
  height:500
};

Plotly.newPlot('myDiv', data, layout);

</script>
<p>cpi.index:{{timelists}}</p>
<p>cpi:{{cpilists}}</p>
{% endblock %}