<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>XBRL DB</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
</head>

<body>
    <div class="container mt-5">
        <h1 class="display-4">財務諸表を使ったWebサービス</h1>
        <p class="lead">とっても便利なWebサービス</p>
        <p class="lead">現在はβ版</p>
        <hr class="my-4">
        <p>無料で提供します</p>

        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a href="" class="nav-link active">Home</a>
            </li>
            <li class="nav-item">
                <a href="" class="nav-link">contact</a>
            </li>
        </ul>
        <div class="row">
            <img class="img-fluid" src="https://picsum.photos/1200/400">
        </div>

    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">経済指標表示アプリ</h5>
                        <p class="card-text">FREDAPIを使って経済指標を表示する</p>
                        <a href="/fredapi" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">株価チャート表示アプリ</h5>
                        <p class="card-text">お好きな銘柄の株価チャートを表示する</p>
                        <a href="/stockpricechart" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
    </div>
    <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">理論株価計算アプリ</h5>
                        <p class="card-text">理論株価を計算する</p>
                        <a href="/stockpricechart" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">業績表示アプリ</h5>
                        <p class="card-text">お好きな銘柄の業績チャートを表示する</p>
                        <a href="#" class="btn btn-primary">詳細</a>
                    </div>
                </div>
            </div>
    </div>



</body>



