{% extends "bootstrap/base.html" %}

{% block title %}Topページ{% endblock %}

{% block head %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-light" style="background-color: #eee8aa;">
    <div class="container">
        <a href="/create" role="button"><font size="4">新規作成画面</font></a>
        <a href="/logout" role="button"><font size="4">ログアウト</font></a></p>
    </div>
</nav>
{% endblock %}



{% block content %}
<div class="container">
    <div class="page-header">
    <h1>Home!</h1>
         <p>こちらはホーム画面です。</p>
         <a href="/graph" role="button"><font size="4">グラフ１</font></a>
        <a href="/graph3" role="button"><font size="4">グラフ3</font></a>
        <a href="/graph4" role="button"><font size="4">グラフ4</font></a>
        <a href="/graph5" role="button"><font size="4">グラフ5</font></a>
        <a href="/graph6" role="button"><font size="4">グラフ6</font></a>
        <a href="/graph7" role="button"><font size="4">グラフ7</font></a>
        <a href="/graph8" role="button"><font size="4">グラフ8</font></a>
        <a href="/graph9" role="button"><font size="4">グラフ9</font></a
        <a href="/graph10" role="button"><font size="4">グラフ10</font></a>

    </div>
</div>
{% endblock %}


