{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>株式投資の日課</title>
{% endblock %}


{% block body %}
<h1>株式投資の日課</h1>

<h2>朝の日課</h2>

<h3>■経済指標チェック</h3>
<h4>
<a href = "https://jp.investing.com/economic-calendar/">経済指標のニュース</a>
</h4>


<h3>■株価チェック</h3>
<h4>
<a href = "https://realtime-chart.info/">世界の株価</a>
<br>
<a href = "https://finviz.com/map.ashx?t=sec">アメリカ株価</a>
<br>
<a href = "https://finviz.com/groups.ashx">アメリカGroup</a>
</h4>

<h2>夜の日課</h2>
<h3>■ポートフォリオチェック</h3>
<h4>
<a href = "https://site2.sbisec.co.jp/ETGate/?_ControlID=WPLETpfR001Control&_PageID=DefaultPID&_DataStoreID=DSWPLETpfR001Control&_ActionID=DefaultAID&getFlg=on">SBI証券</a>
</h4>

<h3>■決算のチェック</h3>
<h4>
<a href = "https://kabutan.jp/news/">Kabutan</a>
</h4>

<h3>■月次のチェック</h3>
<h4>
<a href = "http://kabuka.biz/getuji/">月次Web</a>
</h4>


<h3>■株価のチェック</h3>
<h4>
<a href = "https://finance.yahoo.co.jp/stocks/ranking/up">値上がり率</a>
<br>
<a href = "https://finance.yahoo.co.jp/stocks/ranking/down?market=all&term=daily">値下がり率</a>
</h4>

<h2>分析</h2>
<h3>■分析</h3>
<h4>
<a href = "sub1.html">分析のページ</a>
</h4>
{% endblock %}

