<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>XBRL DB</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>

<div class="container mt-5">
  <h1 class="display-4">株価on業績表示サービス</h1>
        <p class="lead">XBRLデータとyahoo apiを使って業績グラフ上に株価を表示するサービス</p>
        <hr class="my-4">
        <h2>{{ cname }}</h2>
        <h3>{{ message }}</h3>
    <form action="sp_on_pl" method="post" enctype="multipart/form-data" class="row g-3">
        <div class="col-auto">
            <input type="text" class="form-control" name="name" placeholder="ここに入力">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">グラフ表示</button>
        </div>
    </form>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a href="/" class="nav-link active">Home</a>
        </li>
        <li class="nav-item">
            <a href="" class="nav-link">contact</a>
        </li>
    </ul>

<div id="myDiv"><!-- ここにグラフを表示する --></div>

<script type="text/javascript">
    var trace1 = {
        x:[{% for item in x %}　
       '{{item}}',
        {% endfor %}],
        y:[{% for item in y1 %}　
       {{item}},
        {% endfor %}],
        name: '売上',
        type: 'bar',
        text: [{% for item in text %}　
       '{{item}}',
        {% endfor %}],
    };

     var trace2 = {
        x:[{% for item in x %}　
       '{{item}}',
        {% endfor %}],
        y:[{% for item in y2 %}　
       {{item}},
        {% endfor %}],
        name: '営業利益',
        type: 'bar',
        text: [{% for item in text %}　
       '{{item}}',
        {% endfor %}],
    };

      var trace3 = {
        x:[{% for item in x_sp %}　
       '{{item}}',
        {% endfor %}],
        y:[{% for item in y_sp %}　
       {{item}},
        {% endfor %}],
        name: '株価',
        yaxis: 'y2',
        type: 'scatter',
    };

    var data = [trace1, trace2, trace3];

    var selectorOptions = {
    };

    var layout = {

     yaxis: {title: '業績(億円)'},
     yaxis2: {title: '株価',
     overlaying: 'y',
     side: 'right'
    }

    };

    Plotly.newPlot('myDiv', data, layout);
</script>
    <p>業績上に株価を表示するところまで成功！</p>
    <p>凡例が2軸に重なってしまっている箇所を変更</p>
    <p>グラフの色を換える</p>
    <p>x軸を数値に変更する</p>
    <p>軸のfontを変更する</p>


</div>
</body>
