<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>XBRL DB</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="jumbotron.css" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>

<body>
<div class="container mt-5">
  <h1 class="display-4">株価表示サービス</h1>
        <p class="lead">YahooAPIを使って株価チャートを表示するサービス</p>
        <hr class="my-4">
        <p>無料で提供します</p>

    <form class="row g-3">
        <div class="col-auto">
            <label class="visually-hidden">株価コード</label>
        </div>
        <div class="col-auto">
            <input type="password" class="form-control" id="inputPassword2" placeholder="株価コードをここに入力">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">グラフ表示</button>
        </div>
    </form>


<div id="myDiv"><!-- ここにグラフを表示する --></div>

<script>
    var trace1 = {
        x:[{% for item in x %}　
       '{{item}}',
        {% endfor %}],

        y:[{% for item in y %}　
       {{item}},
        {% endfor %}],

        type: 'scatter',
    };

    var data = [ trace1];

    var layout = {

    };

    Plotly.newPlot('myDiv', data, layout);

</script>
<p>yahoo apiを使って株価を表示するところまで成功！</p>
<p>基本構造はFREDと同じなので以外とあっさり成功</p>


</div>
</body>>
